<h1>If you receive money to live your dream</h1>
  <div class="inner">
	<%= form_for @poll, url: { action: "create"} do |f| %>	  
	  <h3>What would you do?</h3>
	  <h3><%= f.text_field :what_youd_do %></h3>
	  <h3>Why?</h3>
	  <h3><%= f.text_field :why_youd_do %></h3>
	  <p class="inner lead">
	    <a href="#" class="btn btn-lg btn-default">Send</a>
	  </p>
	<% end %>
  </div>